body {
    background-image: url("images/uglier-background.jpg") ;
    background-position: left top;
    background-attachment: fixed;
    background-color: #ffffff;
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
}

nav {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color:rgba(153, 153, 153, 1);  
}

main {
    margin-bottom: 95px;
}

footer {
    border-style: solid;
    border-width: 0px;
    border-top-width: 5px;
    border-color:#59aaa5;  
}

.imageoverlaytext {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: calc(100% - 30px);
    margin: 15px;
    padding: 15px 0px;
    background-color: #2e5a579c
}

/* https://stackoverflow.com/questions/5219175/how-to-make-an-element-width-100-minus-padding */

.noline {
    text-decoration-line: none !important;
}

#Profile {
    width: 400px;
}

@media screen and (max-width: 768px) {
    #Profile {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .display-1 {
        font-size: 4rem;
    }
}

/* I realize that it is possible using .scss to enable responsive fonts in bootstrap, but learning how to use a package manager to import Bootstrap felt very far out of the scope of the assignment - same goes for the color tweaks in primary.css */